

p{
    font-size: 20px;
    
}
.image{
    text-align: center;
}
.header {

    font-size: 30px;
    text-decoration: underline;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}


.backbtn 
{
    background-color: lightgray;
    padding: 5px;
}

.ul-items {

   
    font-size: 20px;
}

.instructions-text
{
    font-size: 20px;
}