
p{
    font-size: 20px;
    
}
.image{
    text-align: center;
}
.header {

    font-size: 30px;
    text-decoration: underline;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}

.backbtn 
{
    background-color: lightgray;
    padding: 5px;
}
.sub-hedear
{
    margin-top:10px ;
    margin-bottom: 10px;
}
.ul-items {

   
    font-size: 20px;
}

.instructions-text
{
    font-size: 20px;
}