.body {
    text-align: center;
    
}

p{
    font-size: 20px;
}

.header {

    font-size: 30px;
    text-decoration: underline;
    background-color: lightgray;
}

.center-list {
    display: inline-block;
    text-align: left; 
    margin: 0 auto;
    padding: 0;
    list-style-position: inside;
    font-size: 20px;
}

ol.center-list {
    padding-left: 20px; 
}

ul.center-list {
    padding-left: 20px; 
}